.border {
    background-image: linear-gradient(90deg, #fcc28c 0%, #f7deea 100%);
  }
  
  body {
    background-image: url("../../../assets/background_image.jpeg");
  }
  
  .border-black:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
    color: black;
  }
  