<body>
  <div class="pt-3 mx-3">
    <app-header></app-header>
  </div>
  <main class="shadow bg-white mx-3 my-4 rounded-3 p-3 p-md-5">
    <h1 class="display-4 text-center mb-4">
      <b>How to Care for Your Maine Coon Kitten</b>
    </h1>

    <section class="lead mb-4">
      <p>
        Welcome your Maine Coon kitten with these essential care tips to ensure
        a smooth transition into their new home.
      </p>
    </section>

    <section class="preparation mb-4">
      <h2>Preparation Before Your Kitten Arrives</h2>
      <ul class="icon-list">
        <li>
          <img
            src="assets/icons/whole-fish.png"
            alt="About food"
            class="icon"
          />
          <p>
            <strong>Food and Water:</strong> Ensure that the food and clean
            water are easily accessible. Keep the food bowls away from the
            litter box to maintain hygiene.
          </p>
        </li>
        <li>
          <img
            src="assets/icons/scratching-post.png"
            alt="About scratching post"
            class="icon"
          />
          <p>
            <strong>Scratching Post:</strong> Place a scratching post near the
            kitten’s sleeping area. Cats often stretch and sharpen their claws
            upon waking, so having a nearby scratching post will encourage this
            natural behavior.
          </p>
        </li>
        <li>
          <img
            src="assets/icons/litter-box.png"
            alt="About litter box"
            class="icon"
          />
          <p>
            <strong>Litter Box:</strong> Choose a quiet, accessible spot for the
            litter box, such as the bathroom or toilet. Consider installing a
            cat flap to keep the door open but maintain privacy.
          </p>
        </li>
        <li>
          <img src="assets/icons/space.png" alt="About space" class="icon" />
          <p>
            <strong>Comfortable Spaces:</strong> Maine Coons enjoy cool places
            like window sills and tiled floors. For play, create an area with
            high places for climbing and jumping.
          </p>
        </li>
      </ul>
    </section>

    <section class="environment mb-4">
      <h2>Creating a Comfortable Environment</h2>
      <p>Once your kitten arrives, create a welcoming environment:</p>
      <ul class="icon-list">
        <li>
          <img
            src="assets/icons/adventure.png"
            alt="About exploration"
            class="icon"
          />
          <p>
            <strong>Exploration:</strong> Allow your kitten to explore one room
            at a time. This helps them acclimate to their new home without
            feeling overwhelmed.
          </p>
        </li>
        <li>
          <img
            src="assets/icons/hill.png"
            alt="About high places"
            class="icon"
          />
          <p>
            <strong>High Places:</strong> Cats love being up high. If you don’t
            have natural high spots, consider a cat tree or shelves to give them
            vertical space.
          </p>
        </li>
        <li>
          <img
            src="assets/icons/furniture.png"
            alt="About gradual introduction"
            class="icon"
          />
          <p>
            <strong>Gradual Introduction:</strong> Gradually introduce your
            kitten to other rooms. Ensure they always know where the litter box
            is and encourage them to use it.
          </p>
        </li>
      </ul>
    </section>

    <section class="interaction mb-4">
      <h2>First Days and Interactions</h2>
      <p>
        Your kitten may cry on their first night, but this is normal. They are
        adjusting to being away from their mother and siblings.
      </p>
      <ul class="icon-list">
        <li>
          <img
            src="assets/icons/calendar.png"
            alt="About patience"
            class="icon"
          />
          <p>
            <strong>Patience:</strong> Give them time to settle in. Don’t
            introduce other pets or children too soon.
          </p>
        </li>
        <li>
          <img
            src="assets/icons/care.png"
            alt="About gentle interaction"
            class="icon"
          />
          <p>
            <strong>Gentle Interaction:</strong> Teach children to be gentle.
            Explain that the kitten is not a toy and needs rest and quiet time.
            Spend time playing, petting, and talking to your kitten to build a
            bond of trust.
          </p>
        </li>
      </ul>
    </section>

    <section class="tips mb-4">
      <h2>Essential Tips for a Happy Kitten</h2>
      <ul class="icon-list">
        <li>
          <img
            src="assets/icons/calendar.png"
            alt="About patience"
            class="icon"
          />
          <p><strong>Patience:</strong> Allow your kitten time to adjust.</p>
        </li>
        <li>
          <img src="assets/icons/safety.png" alt="About safety" class="icon" />
          <p>
            <strong>Safety:</strong> Ensure that the home environment is safe
            and kitten-proof.
          </p>
        </li>
        <li>
          <img src="assets/icons/heart.png" alt="About love" class="icon" />
          <p>
            <strong>Love:</strong> Show affection to build a strong relationship
            with your new pet.
          </p>
        </li>
      </ul>
    </section>
  </main>
  <div class="mx-3 rounded-3 pb-3">
    <app-footer></app-footer>
  </div>
</body>
