<body>
<div class="pt-3 ms-3 me-3">
  <app-header></app-header>
</div>
<div class="shadow bg-white ms-3 me-3 mt-4 rounded-3 p-3">
  <h1 class="h1">How to care</h1>
  <p>
    It is better to bring a Maine Coon kitten into the house when you have free time and someone else is present in the
    house. If you work, try to schedule the arrival of the Maine Coon kitten on weekends.
    <br><br>
    Before bringing the kitten, designate places for food, litter box, and scratching post, as well as play and rest
    areas taking into account the following points:
    <br><br>
    Food bowls should not be placed next to the litter box.
    <br><br>
    Food and clean water should be easily accessible to the kitten.
    <br><br>
    It is better to place the scratching post closer to the sleeping area of the Maine Coon kitten, as cats tend to
    stretch and "sharpen" their claws upon waking up. The scratching post should be stable and appealing to the kitten.
    For the cat's litter box, choose a secluded but accessible location. The most convenient spaces are the toilet and
    bathroom, as these rooms are well-ventilated and easy to clean. To avoid keeping the door to the toilet/bathroom
    constantly open, it is advisable to create a cat flap with a hinged door. A covered litter box can also be placed in
    the hallway or on the balcony, providing easy access there.
    <br><br>
    Maine Coons prefer cool places for relaxation - window sills, sinks in the bathroom (don't be surprised!), tiled
    floors. For play, the most significant area conducive to crazy races and high jumps (tables, cabinets, sofa backs
    and armchairs...) should be allocated.
    <br><br>
    All cats love high places. If your living space does not have high and stable platforms, try to create several such
    high places that the cat can use: rearrange something or buy a "cat tree." Cats enjoy being at the same level as the
    owner's face or another family member. Then the cat can rub against you as if you were a fellow cat.
    <br><br>
    So, the kitten is in its new home. A healthy, curious kitten should sniff and explore everything. It is better if
    you limit the kitten's territory to one room for at least a few days so that the little one does not get lost or
    have an accident. Although most kittens quickly adapt to a new environment.
    <br><br>
    Gradually allow access to other rooms, making sure that the kitten has memorized the location of the litter box and
    uses it. There should not be a situation where the kitten is locked away from the litter box.
    <br><br>
    The kitten may "cry" on the first night, do not worry - this is natural, as it has parted with its mother and
    littermates, but it will quickly distract itself and focus all its attention on you.
    <br><br>
    Do not introduce other pets and children to the kitten right away.
    <br><br>
    Children tend to overly squeeze the kitten, express their emotions loudly, grab the kitten, pull its tail... You
    should explain to the children that the kitten is not a toy, that it needs a lot of sleep, and it is absolutely
    forbidden to wake it up to play. The kitten needs to get used to you. Pet it, play with it, and talk to it - then
    trust and attachment to the new owner will quickly develop and strengthen.
  </p>
</div>
<div class="ms-3 me-3 mt-4 rounded-3 pb-2">
  <app-footer></app-footer>
</div>
</body>
