<body class="pb-3">
<app-admin-panel-header></app-admin-panel-header>
<div class="border border-black shadow-lg rounded-4 my-5 w-75 m-auto p-3">
  <h2 class="h2">Edit Kitten:</h2>
  <form (ngSubmit)="submitKitten()" [formGroup]="kittenForm">
    <div class="form-floating mb-3">
      <input
        class="form-control"
        formControlName="name"
        id="kittenName"
        placeholder="Name of the Kitten"
        type="text"
      />
      <label for="kittenName">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        formControlName="color"
        id="kittenColor"
        placeholder="ex. Ginger"
        type="text"
      />
      <label for="kittenColor">Color</label>
    </div>
    <div class="form-floating mb-3">
      <div class="input-group">
        <input
          class="form-control"
          formControlName="age"
          id="kittenAge"
          placeholder="Age"
          type="text"
        />
        <span class="input-group-text" id="basic-addon2">month(s)</span>
      </div>
    </div>
    <div class="form-floating mb-3">
      <select
        aria-label="Select kitten sex"
        class="form-select"
        formControlName="sex"
        id="kittenSex"
      >
        <option disabled selected value="">Select an option</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      <label class="form-label" for="kittenSex">Sex</label>
    </div>
    <div class="form-floating mb-3">
        <textarea
          class="form-control"
          formControlName="description"
          id="kittenArticle"
          placeholder="Description of the kitten"
          style="min-height: 150px"
        ></textarea>
      <label class="form-label" for="kittenArticle">Description</label>
    </div>
    <div class="form-floating mb-3">
      <select
        aria-label="Select cat status"
        class="form-select"
        formControlName="status"
        id="catStatus"
      >
        <option disabled selected value="">Select an option</option>
        <option value="1">Available</option>
        <option value="2">Reserved / Under discussion</option>
        <option value="3">Sold</option>
        <option value="4">Not for sale</option>
      </select>
      <label class="form-label" for="catStatus">Status</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        formControlName="litter"
        id="kittenLitter"
        placeholder="Litter"
        type="text"
      />
      <label for="kittenLitter">Litter</label>
    </div>
    <div class="mb-3">
      <label class="form-label" for="kittenImages">Images</label>
      <input
        (change)="handleFileInput($event)"
        accept=".jpg, .jpeg, .png"
        class="form-control"
        id="kittenImages"
        multiple
        type="file"
      />
      <ul>
        <li>Max size of image: 15MB</li>
        <li>Max size of all images: 250MB</li>
        <li>Supported formats: .jpeg .jpg .png</li>
      </ul>
    </div>
    @if (imagePreviews.length > 0) {
      <div class="mb-3">
        <label class="form-label">Image Preview:</label>
        <div class="row g-3">
          @for (preview of imagePreviews; track $index) {
            <div class="col-auto">
              <div class="position-relative">
                <img
                  [src]="preview"
                  class="img-fluid img-thumbnail shadow-lg-sm"
                  alt="Image preview"
                  width="100"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1 px-1 py-0"
                  (click)="removeImage($index)"
                >
                  <i class="bi bi-x-circle"></i>
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    }

    <div class="mb-3">
      <button
        [attr.aria-disabled]="(!kittenForm.valid || isLoading || imagePreviews.length === 0 ) ? true : null"
        [disabled]="!kittenForm.valid || isLoading || imagePreviews.length === 0 "
        [ngClass]="{ disabled: !kittenForm.valid || isLoading || imagePreviews.length === 0 }"
        class="btn border-black w-100"
        type="submit"
      >
        <div class="d-flex align-items-center justify-content-center">
          @if (isLoading == true) {
            <strong role="status">Loading, please don't close page</strong>
            <div class="spinner-border ms-2" aria-hidden="true"></div>
          }
          @if (isLoading == false) {
            <span>Edit kitten</span>
          }
        </div>
      </button>
      <button
        [routerLink]="['/admin/kittens-list']"
        class="btn btn-danger w-100 mt-3"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
</body>
