<footer class="rounded-3 shadow bg-white w-100 pt-4 px-4">
  <div class="container text-center">
    <div class="row">
      <div class="col my-auto mx-auto">
        <img
          src="assets/logo/1024/logo.png"
          width="140"
          height="140"
          class="my-auto"
        />
      </div>

      <div class="col my-auto mx-auto">
        <ul class="ps-0">
          <li>
            <h3 class="h3">Contacts</h3>
          </li>
          <li>
            <p>example&commat;gmail.com</p>
          </li>
          <li>
            <p>The Hague, Netherlands</p>
          </li>
          <li>
            <a
              class="me-4 rounded-3"
              href="https://www.instagram.com/la_bella_ferdinanda/"
              target="_blank"
            >
              <img
                ngSrc="assets/icons/Instagram%20Square%20Icon.png"
                height="40"
                width="40"
                class="rounded-3"
              />
            </a>
            <a
              class="me-4 rounded-3"
              href="https://www.tiktok.com/@labellaferdinanda"
              target="_blank"
            >
              <img
                ngSrc="assets/icons/Tiktok%20Square%20Icon.png"
                height="40"
                width="40"
                class="rounded-3"
              />
            </a>
            <a
              class="rounded-3"
              href="https://www.facebook.com/share/tgmJXZD43s7fPTik/?mibextid=LQQJ4d"
              target="_blank"
            >
              <img
                ngSrc="assets/icons/Facebook%20Generic%20Square.png"
                height="40"
                width="40"
                class="rounded-3"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row d-inline-flex justify-content-between w-100">
      <p class="my-auto">
        &copy; 2024 La Bella Ferdinanda. All rights reserved. Photos on this
        site are protected by copyright.
      </p>
      <span class="my-auto" style="font-size: 10px"
        >Icons by
        <a
          href="https://www.freepik.com/icon/facebook_1384037#fromView=resource_detail&position=14"
          style="font-size: 10px"
          >Freepik</a
        ></span
      >
    </div>
  </div>
</footer>
