@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

p,
h3,
a {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: unset;
    text-decoration: none;
}

ul {
    list-style: none;
}
