<nav class="navbar navbar-expand-md rounded-bottom-4">
  <div class="container-fluid">
    <a [routerLink]="['/admin']" class="navbar-brand mb-0 h1">
      <img
        alt="header-logo"
        class="d-inline-block align-center ms-3"
        height="50"
        ngSrc="assets/logo/logo.svg"
        width="50"
      />
      Administrator Panel
    </a>

    <div class="d-flex ml-auto">
      <button
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-bs-target="#offcanvasNavbar"
        data-bs-toggle="offcanvas"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        aria-labelledby="offcanvasNavbarLabel"
        class="offcanvas offcanvas-end"
        data-bs-scroll="true"
        id="offcanvasNavbar"
        tabindex="-1"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button
            aria-label="Close"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            type="button"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a (click)="homePage()" class="nav-link">Homepage</a>
            </li>
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
              >
                Cats
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a [routerLink]="['/admin/create-cat']" class="dropdown-item"
                  >Create...</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/admin/cats-list']" class="dropdown-item"
                  >View/Edit/Delete...</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
              >
                Kittens
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    [routerLink]="['/admin/create-kitten']"
                    class="dropdown-item"
                  >Create...</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="['/admin/kittens-list']"
                    class="dropdown-item"
                  >View/Edit/Delete...</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
              >
                Account
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a (click)="showNotification()" class="dropdown-item"
                  >Edit Account</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <button
                (click)="onLogout()"
                class="btn border border-black ms-3 no-margin logout"
              >
                Log Out
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
