<body class="pb-3">
  <app-admin-panel-header></app-admin-panel-header>
  <div
    class="kittens-list my-4 mx-3 rounded-3 p-5 shadow-lg border-black border"
  >
    @if (loading == true) {
    <div class="text-center my-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h5>Loading...</h5>
    </div>
    } @if (loading == false) { @for (kitten of kittens; track $index)
    {<app-item-card class="mx-3" [animal]="kitten"></app-item-card>} } @if
    (kittens.length == 0 && loading == false) {
    <div class="text-center my-4">
      <h2 class="h2">No kittens found</h2>
    </div>
    }
  </div>
</body>
