<body>
  <div class="pt-3 mx-3">
    <app-header></app-header>
  </div>

  <div class="shadow-lg mx-3 my-4 p-3 rounded-3" style="background-color: #fef6fa;">
    <h1 class="display-4 text-center"><b>Our Kittens</b></h1>
  </div>

  @if (isLoading) {
  <div class="text-center shadow-lg mx-3 my-4 p-3 rounded-3" style="background-color: #fef6fa;">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <h2>Loading kittens...</h2>
  </div>
  } @else {
  <div>
    @if (kittensList.length == 0) {
    <div class="shadow-lg mx-3 my-4 p-3 rounded-3" style="background-color: #fef6fa;">
      <h2 class="display-4 text-center">
        <b>No kittens found, stay tuned!</b>
      </h2>
    </div>
    } @else {
    <div class="mx-3 my-4">
      @for (kitten of kittensList; track $index) { @if (isMobile) {
      <div class="d-flex my-4 kitten-profile rounded-3" [routerLink]="['/kitten', kitten.id]">
        <div class="kitten-image">
          <img [src]="kitten.image.image" alt="{{ kitten.name }}" class="img-fluid rounded-3 kitten-photo" />
        </div>
        <div class="kitten-details shadow-lg rounded-bottom-3 p-3 flex-fill text-center align-content-center"
          style="background-color: #fef6fa;">
          <h2 class="kitten-name">{{ kitten.name }}</h2>
          <p class="kitten-breed">Age: {{ kitten.age }} months old</p>
          <p class="kitten-diversity">Sex: {{ kitten.sex }}</p>
          <p class="kitten-diversity">Fur color: {{ kitten.color }}</p>
          <p class="kitten-diversity">Litter {{ kitten.litter }}</p>
          @if (kitten.status == "Available") {
          <p class="kitten-status" style="color: green">
            {{ kitten.status }}
          </p>
          } @else if (kitten.status == "Reserved / Under discussion") {
          <p class="kitten-status" style="color: gold">
            {{ kitten.status }}
          </p>
          } @else if (kitten.status == "Sold") {
          <p class="kitten-status" style="color: red">
            {{ kitten.status }}
          </p>
          } @else {
          <p class="kitten-status" style="color: #718096">
            {{ kitten.status }}
          </p>
          }
        </div>
      </div>
      } @else {
      <div class="d-flex my-4 kitten-profile rounded-3" [routerLink]="['/kitten', kitten.id]">
        <div class=" rounded-3 p-3 flex-fill text-center align-content-center shadow-lg"
          style="background-color: #fef6fa;">
          <h2 class="kitten-name">{{ kitten.name }}</h2>
          <p class="kitten-breed">Age: {{ kitten.age }} months old</p>
          <p class="kitten-diversity">Sex: {{ kitten.sex }}</p>
          <p class="kitten-diversity">Fur color: {{ kitten.color }}</p>
          <p class="kitten-diversity">Litter {{ kitten.litter }}</p>
          @if (kitten.status == "Available") {
          <p class="kitten-status" style="color: green">
            {{ kitten.status }}
          </p>
          } @else if (kitten.status == "Reserved / Under discussion") {
          <p class="kitten-status" style="color: gold">
            {{ kitten.status }}
          </p>
          } @else if (kitten.status == "Sold") {
          <p class="kitten-status" style="color: red">
            {{ kitten.status }}
          </p>
          } @else {
          <p class="kitten-status" style="color: #718096">
            {{ kitten.status }}
          </p>
          }
        </div>

        <div class="w-50 image-container">
          <img [src]="kitten.image.image" alt="{{ kitten.name }}" class="img-fluid rounded-3 w-100" />
        </div>
      </div>
      } }
    </div>
    }
  </div>
  }

  <div class="mx-3 rounded-3 pb-3">
    <app-footer></app-footer>
  </div>
</body>