<body>
  <div class="pt-3 mx-3">
    <app-header></app-header>
  </div>

  @if (!isLoading && cat) {
  <div class="shadow-lg  mx-3 my-4 p-3 rounded-3 shadow-lg" style="background-color: #fef6fa;">
    <h1 class="display-4 text-center">
      <b>{{ cat.name }}</b>
    </h1>
  </div>
  }

  <div class="mx-3 my-4">
    @if (isLoading) {
    <div class="text-center shadow-lg  p-3 rounded-3" style="background-color: #fef6fa;">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h2>Loading cat details...</h2>
    </div>
    } @if (!isLoading && !cat) {
    <div class="shadow-lg  mx-3 my-4 p-3 rounded-3" style="background-color: #fef6fa;">
      <h2 class="display-4 text-center"><b>No cat details found!</b></h2>
    </div>
    } @if (!isLoading && cat) {
    <div class="cat-profile rounded-3 d-flex flex-column flex-lg-row">
      <div class="carousel-container d-flex justify-content-center flex-1 mb-4 mb-lg-0">
        <div id="catCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            @for (image of cat.images; track $index) {
            <div class="carousel-item rounded-3" [class.active]="$index === 0">
              <img [src]="getImageSrc(image)" class="d-block w-100 rounded-3 cat-image"
                alt="Cat Image {{ $index + 1 }}" />
            </div>
            }
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#catCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#catCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="cat-details shadow-lg  rounded-3 p-3 text-center flex-1" style="background-color: #fef6fa;">
        <p class="cat-age">Age: {{ cat.age }} years old</p>
        <p class="cat-diversity">Fur color: {{ cat.color }}</p>
        @if (cat.status == 'Available') {
        <p class="cat-status" style="color: green">{{ cat.status }}</p>
        } @else if (cat.status == 'Reserved / Under discussion') {
        <p class="cat-status" style="color: gold">{{ cat.status }}</p>
        } @else if (cat.status == 'Sold') {
        <p class="cat-status" style="color: red">{{ cat.status }}</p>
        } @else {
        <p class="cat-status" style="color: #718096">{{ cat.status }}</p>
        }
        <p class="cat-description">{{ cat.article }}</p>
      </div>
    </div>
    }
  </div>

  <div class="mx-3 rounded-3 pb-3">
    <app-footer></app-footer>
  </div>
</body>