<body>
  <div class="pt-3 mx-3">
    <app-header></app-header>
  </div>

  @if (!isLoading && cat) {
  <div class="shadow bg-white mx-3 my-4 p-3 rounded-3 shadow-lg">
    <h1 class="display-4 text-center">
      <b>{{ cat.name }}</b>
    </h1>
  </div>
  }

  <div class="mx-3 my-4">
    @if (isLoading) {
    <div class="text-center shadow bg-white p-3 rounded-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h2>Loading cat details...</h2>
    </div>
    } @if (!isLoading && !cat) {
    <div class="shadow bg-white mx-3 my-4 p-3 rounded-3">
      <h2 class="display-4 text-center"><b>No cat details found!</b></h2>
    </div>
    } @if (!isLoading && cat) {
    <div class="cat-profile rounded-3 d-flex flex-column flex-lg-row">
      <!-- Carousel Container -->
      <div
        class="carousel-container d-flex rounded-3 justify-content-center flex-1 mb-4 mb-lg-0"
      >
        <div
          id="catCarousel"
          class="carousel slide shadow-lg rounded-3"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            @for (image of cat.images; track $index) {
            <div class="carousel-item rounded-3" [class.active]="$index === 0">
              <img
                [src]="getImageSrc(image)"
                class="d-block w-100 rounded-3 shadow-lg"
                alt="Cat Image {{ $index + 1 }}"
                style="object-fit: cover; height: 300px"
              />
            </div>
            }
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#catCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#catCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Cat Details Container -->
      <div
        class="cat-details shadow-lg bg-white rounded-3 p-3 text-center flex-1"
      >
        <p class="cat-breed">Age: {{ cat.age }} years old</p>
        <p class="cat-diversity">Fur color: {{ cat.color }}</p>
        <p class="cat-description">{{ cat.article }}</p>
        @if (cat.status == 'Available') {
        <p class="cat-status" style="color: green">{{ cat.status }}</p>
        } @else if (cat.status == 'Reserved / Under discussion') {
        <p class="cat-status" style="color: yellow">{{ cat.status }}</p>
        } @else if (cat.status == 'Sold') {
        <p class="cat-status" style="color: red">{{ cat.status }}</p>
        } @else {
        <p class="cat-status" style="color: #718096">{{ cat.status }}</p>
        }
      </div>
    </div>
    }
  </div>

  <div class="mx-3 rounded-3 pb-3">
    <app-footer></app-footer>
  </div>
</body>
