<body>
  <div class="pt-3 mx-3">
    <app-header></app-header>
  </div>

  <div class="bg-white mx-3 my-4 p-3 rounded-3 shadow-lg">
    @if (!isLoading && kitten) {
    <h1 class="display-4 text-center">
      <b>{{ kitten.name }}</b>
    </h1>
    }
  </div>

  <div class="mx-3 my-4">
    @if (isLoading) {
    <div class="text-center bg-white p-3 rounded-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h2>Loading kitten details...</h2>
    </div>
    } @else if (!kitten) {
    <div class="shadow-lg bg-white mx-3 my-4 p-3 rounded-3">
      <h2 class="display-4 text-center"><b>No kitten details found!</b></h2>
    </div>
    } @else {
    <div class="kitten-profile rounded-3 d-flex flex-column flex-lg-row">
      <div
        class="carousel-container d-flex rounded-3 justify-content-center flex-1 mb-4 mb-lg-0"
      >
        <div
          id="kittenCarousel"
          class="carousel slide shadow-lg rounded-3"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            @for (image of kitten.images; track $index) {
            <div class="carousel-item rounded-3" [class.active]="$index === 0">
              <img
                [src]="getImageSrc(image)"
                class="d-block w-100 rounded-3 shadow-lg"
                alt="kitten Image {{ $index + 1 }}"
                style="object-fit: cover; height: 300px"
              />
            </div>
            }
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#kittenCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#kittenCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div
        class="kitten-details shadow-lg bg-white rounded-3 p-3 text-center flex-1"
      >
        <p class="kitten-age">Age: {{ kitten.age }} months old</p>
        <p class="kitten-color">Fur color: {{ kitten.color }}</p>
        <p class="kitten-litter">Litter {{ kitten.litter }}</p>
        @if (kitten.status == "Available") {
        <p class="kitten-status" style="color: green">
          {{ kitten.status }}
        </p>
        } @else if (kitten.status == "Reserved / Under discussion") {
        <p class="kitten-status" style="color: gold">
          {{ kitten.status }}
        </p>
        } @else if (kitten.status == "Sold") {
        <p class="kitten-status" style="color: red">
          {{ kitten.status }}
        </p>
        } @else {
        <p class="kitten-status" style="color: #718096">
          {{ kitten.status }}
        </p>
        }
        <p class="kitten-description">{{ kitten.article }}</p>
      </div>
    </div>
    }
  </div>

  <div class="mx-3 rounded-3 pb-3">
    <app-footer></app-footer>
  </div>
</body>
