<body class="pb-3">
<app-admin-panel-header></app-admin-panel-header>
<div class="border border-black shadow-lg rounded-4 my-5 w-75 m-auto p-3">
  <h2 class="h2">Edit Cat:</h2>
  <form (ngSubmit)="submitCat()" [formGroup]="catForm">
    <div class="form-floating mb-3">
      <input
        class="form-control"
        formControlName="name"
        id="catName"
        placeholder="Name of the Cat"
        type="text"
      />
      <label for="catName">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        formControlName="color"
        id="catColor"
        placeholder="ex. Ginger"
        type="text"
      />
      <label for="catColor">Color</label>
    </div>
    <div class="form-floating mb-3">
      <div class="input-group">
        <input
          class="form-control"
          formControlName="age"
          id="catAge"
          placeholder="Age"
          type="text"
        />
        <span class="input-group-text" id="basic-addon2">year(s)</span>
      </div>
    </div>
    <div class="form-floating mb-3">
      <select
        aria-label="Select cat sex"
        class="form-select"
        formControlName="sex"
        id="catSex"
      >
        <option disabled selected value="">Select an option</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      <label class="form-label" for="catSex">Sex</label>
    </div>
    <div class="form-floating mb-3">
        <textarea
          class="form-control"
          formControlName="description"
          id="catArticle"
          placeholder="Description of the cat"
          style="min-height: 150px"
        ></textarea>
      <label class="form-label" for="catArticle">Description</label>
    </div>
    <div class="form-floating mb-3">
      <select
        aria-label="Select cat status"
        class="form-select"
        formControlName="status"
        id="catStatus"
      >
        <option disabled selected value="">Select an option</option>
        <option value="1">Available</option>
        <option value="2">Reserved / Under discussion</option>
        <option value="3">Sold</option>
        <option value="4">Not for sale</option>
      </select>
      <label class="form-label" for="catStatus">Status</label>
    </div>
    <div class="mb-3">
      <label class="form-label" for="catImages">Images</label>
      <input
        (change)="handleFileInput($event)"
        accept=".jpg, .jpeg, .png"
        class="form-control"
        id="catImages"
        multiple
        type="file"
      />
      <ul>
        <li>Max size of image: 15MB</li>
        <li>Max size of all images: 250MB</li>
        <li>Supported formats: .jpeg .jpg .png</li>
      </ul>
    </div>
    @if (imagePreviews.length > 0) {
      <div class="mb-3">
        <label class="form-label">Image Preview:</label>
        <div class="row g-3">
          @for (image of imagePreviews; track $index) {
            <div class="col-auto">
              <div class="position-relative">
                <img
                  [src]="image.preview"
                  class="img-fluid img-thumbnail shadow-lg-sm"
                  alt="Image preview"
                  width="100"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1 px-1 py-0"
                  (click)="removeImage($index)"
                >
                  <i class="bi bi-x-circle"></i>
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    }

    <div class="mb-3">
      <button
        [attr.aria-disabled]="(!catForm.valid || isLoading || imagePreviews.length === 0 ) ? true : null"
        [disabled]="!catForm.valid || isLoading || imagePreviews.length === 0 "
        [ngClass]="{ disabled: !catForm.valid || isLoading || imagePreviews.length === 0 }"
        class="btn border-black w-100"
        type="submit"
      >
        <div class="d-flex align-items-center justify-content-center">
          @if (isLoading == true) {
            <strong role="status">Loading, please don't close page</strong>
            <div class="spinner-border ms-2" aria-hidden="true"></div>
          }
          @if (isLoading == false) {
            <span>Update cat</span>
          }
        </div>
      </button>
      <button
        [routerLink]="['/admin/cats-list']"
        class="btn btn-danger w-100 mt-3"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
</body>
