<body>
<div class="pt-3 ms-3 me-3">
  <app-header></app-header>
</div>
<div class="shadow bg-white ms-3 me-3 mt-4 rounded-3 p-3">
  <h1 class="">About breed</h1>
  <p>BREED STANDARD FOR THE MAINE COON ACCORDING TO TICA RULES
    <br><br></p>
  <h3>GENERAL DESCRIPTION</h3>
  <p>
    The Maine Coon is an American native long-haired cat. Maine Coons are a large breed with a massive and sturdy frame,
    well-developed musculature. The body is strong, long, and rectangular in shape. The chest is broad, the tail is
    long, strong, and flowing. Ears are large.
    Females are proportionally smaller in body size than males. Adult males may have a larger and wider head than
    females.

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          Head
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            SHAPE - broad, modified wedge of medium size. The forehead is strongly rounded, with high and convex
            cheekbones.
            There must be a distinct stop beneath the cheekbones.
            <br>
            EYES - large in size, widely set, slightly oval, appear almost round when fully open. Positioned slightly
            slanted
            towards the outer edge of the ear.
            Eye color can be of any shades of green and (or) gold, blue. Different eye colors are permissible for white
            animals.
            There is no correlation between coat color and eye color.
            <br>
            EARS - large, tall, wide at the base. The ears are set high on the head. There is a slight outward tilt to
            the ear.
            The distance between the ears should not exceed the width of the ear base. The lower base of the ear is set
            back
            further than the upper base. Ears are moderately pointed.
            Lynx tips extend vertically up from the back of the ear. Ear furnishings continue along a horizontal line
            outside
            the outer edge of the ear.
            <br>
            CHIN is straight, in line with the nose and upper lip.
            <br>
            SKULL is square in shape.
            <br>
            PROFILE - gently concave slope. Some convexity at the end of the profile is acceptable.
            <br>
            NECK - of medium length, with strong musculature.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
          Body
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            TORSO - large, long, rectangular body shape, but not slender.
            <br>
            FRAME is powerful.
            <br>
            MUSCULATURE is robust, strong.
            <br>
            TAIL - broad at the base and tapering slightly to the tip, well-furnished, with flowing fur.
            ...Length no less than the length of the body to the tail base.
            <br>
            LEGS - of medium proportions relative to the body, with sturdy bone structure and musculature.
            <br>
            PAWS - large, round, with tufts of fur between the toes.
            <br>
            COAT
            LENGTH - uneven, shorter on the shoulders, gradually lengthening towards the abdomen and "pants." Long ruff
            around
            the neck, abdomen, and pants are very "shaggy." A full ruff is not mandatory, but it is desirable for it to
            start
            from the base of the ears.
            <br>
            TEXTURE - weatherproof coat - protects the cat from the weather. Fits closely to the body, smoothly cascades
            along
            the torso. There is a light undercoat, but not cottony or wool-like.
            <br>
            COLOR - traditional categories, all divisions, all colors. A white outline around the eyes, lips, and chin
            is
            permissible, except for solid colors.
            Chocolate, cinnamon, and corresponding diluted colors (lilac and fawn) are not recognized in any
            combinations,
            acromelanic colors are also not recognized. All other colors are recognized.
            Red Marble - bright redness is characteristic of red Maine Coons, with a distinct marbling pattern that sets
            them
            apart from the lighter "ginger" color typical of ordinary cats.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ms-3 me-3 mt-4 rounded-3 pb-2">
  <app-footer></app-footer>
</div>
</body>
