@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

a,
h1,
p,
span,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: black;
}

body {
  background-color: #ffe0c0;
}

li {
  list-style: none;
}

.info-links a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff;
}
.info-links a:hover {
  background-color: #0056b3;
}
.about-cat-img {
  width: 100%;
  min-width: 15px;
  max-width: 25px;
}

.undertext {
  color: grey;
}

#file_icon {
  width: 25px;
  height: 25px;
}

.btn-custom:hover a {
  text-decoration: underline;
}
