<body>
  <div class="pt-3 ms-3 me-3">
    <app-header></app-header>
  </div>
  <div class="shadow bg-white ms-3 me-3 mt-4 rounded-3 p-5">
    <h1 class="display-4 text-center"><b>About breed</b></h1>
    <h3 class="h3">GENERAL DESCRIPTION</h3>
    <p class="lead">
      The Maine Coon is an American native long-haired cat. Maine Coons are a
      large breed with a massive and sturdy frame, well-developed musculature.
      The body is strong, long, and rectangular in shape. The chest is broad,
      the tail is long, strong, and flowing. Ears are large. Females are
      proportionally smaller in body size than males. Adult males may have a
      larger and wider head than females.
    </p>

    <div
      id="breedCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner rounded-3">
        <div class="carousel-item active">
          <img
            src="assets/img/dummyAboutImage.jpg"
            alt="Maine Coon Image"
            class="d-block w-100"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/dummyAboutImage1.jpg"
            alt="Maine Coon Image"
            class="d-block w-100"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/dummyAboutImage2.jpg"
            alt="Maine Coon Image"
            class="d-block w-100"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#breedCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#breedCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h2 class="h2 mt-5">Head</h2>
    <p>
      SHAPE - broad, modified wedge of medium size. The forehead is strongly
      rounded, with high and convex cheekbones. There must be a distinct stop
      beneath the cheekbones.
      <br />
      EYES - large in size, widely set, slightly oval, appear almost round when
      fully open. Positioned slightly slanted towards the outer edge of the ear.
      Eye color can be of any shades of green and (or) gold, blue. Different eye
      colors are permissible for white animals. There is no correlation between
      coat color and eye color.
      <br />
      EARS - large, tall, wide at the base. The ears are set high on the head.
      There is a slight outward tilt to the ear. The distance between the ears
      should not exceed the width of the ear base. The lower base of the ear is
      set back further than the upper base. Ears are moderately pointed. Lynx
      tips extend vertically up from the back of the ear. Ear furnishings
      continue along a horizontal line outside the outer edge of the ear.
      <br />
      CHIN is straight, in line with the nose and upper lip.
      <br />
      SKULL is square in shape.
      <br />
      PROFILE - gently concave slope. Some convexity at the end of the profile
      is acceptable.
      <br />
      NECK - of medium length, with strong musculature.
    </p>

    <h2 class="h2 mt-5">Body</h2>
    <p>
      TORSO - large, long, rectangular body shape, but not slender.
      <br />
      FRAME is powerful.
      <br />
      MUSCULATURE is robust, strong.
      <br />
      TAIL - broad at the base and tapering slightly to the tip, well-furnished,
      with flowing fur. ...Length no less than the length of the body to the
      tail base.
      <br />
      LEGS - of medium proportions relative to the body, with sturdy bone
      structure and musculature.
      <br />
      PAWS - large, round, with tufts of fur between the toes.
      <br />
      COAT LENGTH - uneven, shorter on the shoulders, gradually lengthening
      towards the abdomen and "pants." Long ruff around the neck, abdomen, and
      pants are very "shaggy." A full ruff is not mandatory, but it is desirable
      for it to start from the base of the ears.
      <br />
      TEXTURE - weatherproof coat - protects the cat from the weather. Fits
      closely to the body, smoothly cascades along the torso. There is a light
      undercoat, but not cottony or wool-like.
      <br />
      COLOR - traditional categories, all divisions, all colors. A white outline
      around the eyes, lips, and chin is permissible, except for solid colors.
      Chocolate, cinnamon, and corresponding diluted colors (lilac and fawn) are
      not recognized in any combinations, acromelanic colors are also not
      recognized. All other colors are recognized. Red Marble - bright redness
      is characteristic of red Maine Coons, with a distinct marbling pattern
      that sets them apart from the lighter "ginger" color typical of ordinary
      cats.
    </p>
    <div class="mt-4">
      <h2 class="sub-heading">Detailed Information</h2>
      <ul class="info-links ps-0">
        <li>
          <a href="assets/pdf/CFA_NL.pdf" class="btn btn-custom" target="_blank"
            >CFA - Cat Fanciers Association&trade; Standards</a
          >
        </li>
        <li>
          <a href="assets/pdf/MCO.pdf" class="btn btn-custom" target="_blank"
            >MCO - Breed Standards</a
          >
        </li>
        <li>
          <a
            href="assets/pdf/TICA_EN.pdf"
            class="btn btn-custom"
            target="_blank"
            >TICA - The International Cat Association&trade; Standards</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="ms-3 me-3 mt-4 rounded-3 pb-2">
    <app-footer></app-footer>
  </div>
</body>
