<body>
  <div class="pt-3 mx-3">
    <app-header></app-header>
  </div>
  <div class="shadow bg-white mx-3 my-4 p-5 rounded-3">
    <h1 class="display-4 text-center"><b>About Us</b></h1>
    <p>
      We are a small hobby cattery of Maine Coon cats. Since childhood, I have
      grown up surrounded by animals. There were many cats and dogs nearby, all
      of them being strays from the streets. Therefore, I had to take care of
      them and feed them in homemade cardboard houses or in the basements of
      houses. Unfortunately, this was the reality of the recently collapsed
      Soviet Union. There were many homeless, unwanted animals.
      <br />
      <br />
      I later wanted to become a veterinarian. But by fate, I first completed
      training as a nurse. Then I went on to study biology at the Saint
      Petersburg State University.
      <br />
      <br />
      Throughout my life, animals, especially cats, have been my companions. My
      love for them not only did not fade, but grew into my favorite hobby of
      breeding and selecting these animals.
      <br />
      <br />
      I started with the Persian breed of cats. For almost 10 years, I was
      involved in breeding this breed.
      <br />
      <br />
      At some point, I noticed the Maine Coon breed. It was love at first sight.
      The stately intellectuals captured my heart. And their easy care, beauty,
      and playfulness completely convinced me that it was time to acquire my
      first Coon.
      <br />
      <br />
      I am very happy for the people who will be pleasantly surprised upon their
      first encounter with this breed. These are not just cats. These are Cat
      Gods. And with us, you will find worthy representatives of this breed.
    </p>

    <h1 class="h1 text-center">Our Goal</h1>
    <p>
      The goal of our cattery is to breed large, vibrant, and charismatic
      representatives of the modern type, in accordance with the Maine Coon
      breed standards, with strong physical and mental health, and affectionate
      temperament. <br /><br />
      This is a small home cattery, all cats are full-fledged members of our
      family and have free access to all areas of our home. All breeding cats in
      the cattery are tested for genetic diseases. Our cats are on a mixed diet,
      with premium class dry food available at all times. In addition, they are
      fed balanced meat mixes 1-2 times a day. All animals in our cattery
      undergo regular veterinary check-ups.
    </p>
  </div>
  <div class="mx-3 rounded-3 pb-3">
    <app-footer></app-footer>
  </div>
</body>
