<body>
<div class="pt-3 ms-3 me-3">
  <app-header></app-header>
</div>
<div class="shadow bg-white ms-3 me-3 mt-4 p-3 rounded-3">
  <h1>Our Goal</h1>
  <p>The goal of our cattery is to breed large, vibrant, and charismatic representatives of the modern type, in
    accordance with the Maine Coon breed standards, with strong physical and mental health, and affectionate
    temperament.
    <br><br>
    This is a small home cattery, all cats are full-fledged members of our family and have free access to all areas of
    our home. All breeding cats in the cattery are tested for genetic diseases. Our cats are on a mixed diet, with
    premium class dry food available at all times. In addition, they are fed balanced meat mixes 1-2 times a day. All
    animals in our cattery undergo regular veterinary check-ups.</p>
</div>
<div class="ms-3 me-3 mt-4 rounded-3 pb-2">
  <app-footer></app-footer>
</div>
</body>
